.git
.gitignore
.gitattributes
node_modules
vendor
storage/logs/*
!storage/logs/.gitignore
storage/framework/cache/*
!storage/framework/cache/.gitignore
storage/framework/sessions/*
!storage/framework/sessions/.gitignore
storage/framework/views/*
!storage/framework/views/.gitignore
docker/8.0
docker/8.1
docker/8.2
docker/8.3
docker/8.4
docker/8.5
docker/mariadb
docker/mysql
docker/pgsql
compose.yaml
compose.production.yml
data
.env
.env.*
!.env.example
tests
*.md
.phpunit.result.cache
phpunit.xml
.editorconfig
.npmrc
boost.json
vite.config.js
package.json
package-lock.json
resources/js
resources/css
